# .gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual envs
env/
venv/
ENV/
.venv/
.Python

# VSCode
.vscode/

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# MacOS & system
.DS_Store
Thumbs.db

# Migrations
*/migrations/__pycache__/
*/migrations/*.py[cod]
*/migrations/*.py

# Coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/

# Logs
*.log
logs/
